<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>186793827326-vqk5br13vbqeb7nns237khaol87g37cb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.186793827326-vqk5br13vbqeb7nns237khaol87g37cb</string>
	<key>API_KEY</key>
	<string>AIzaSyAE8JbZq9F4-dpjDNDSfDqgLj_iZy-uePM</string>
	<key>GCM_SENDER_ID</key>
	<string>186793827326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.darkarts.midday</string>
	<key>PROJECT_ID</key>
	<string>social-scholar</string>
	<key>STORAGE_BUCKET</key>
	<string>social-scholar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186793827326:ios:d1f96b1da1742c53</string>
	<key>DATABASE_URL</key>
	<string>https://social-scholar.firebaseio.com</string>
</dict>
</plist>